# DL (VAE) 
torch
torchvision
numpy
scipy

# Interface & Dashboard
streamlit
plotly
pandas

# Documentation Sphinx 
Sphinx
sphinx-rtd-theme
docutils
Jinja2

# Qualité du code & Git 
pre-commit
black
flake8
PyYAML

# Utilitaires 
matplotlib
tqdm
requests